<mat-card>
    <mat-card-header>
        <mat-card-title>Tabela de produtos</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Sensor</th>
                    <th>Operação</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let p of produtos; index as i">
                    <td>{{p._id}}</td>
                    <td>{{p.nome}}</td>
                    <td>{{p.valor}}</td>
                    <td class="text-center">{{p.sensor ? '+' : '-'}}</td>
                    <td><button (click)="delete(p._id, i)">Delete</button></td>
                </tr>
            </tbody>       
        </table>
    </mat-card-content>
</mat-card>

<!--div *ngIf="produtos">
    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="produtos">

    </mat-table>
</div-->