<div class="login">
    
  <div class="text-center">
    <label style="font-weight: bold">Login</label>
  </div>

  <div>
    <mat-form-field>
      <input [(ngModel)]="usuario.usuario" matInput type="text" placeholder="Usuário">
    </mat-form-field>      
  </div>

  <div>
    <mat-form-field>
      <input [(ngModel)]="usuario.senha" matInput type="password" placeholder="Senha">
    </mat-form-field>
  </div>

  <div>
    <button (click)="login()" mat-raised-button color="primary">Entrar</button>
    <button (click) ="openCadastrarUsuario()" mat-button color="primary">Novo usuário</button>
  </div>

  <div style="margin-top: 10px; font-weight: bold">
    {{msg}}
  </div>
</div>
